/*
html, div, span, body, form, button, select, option {
  font: 15px "Roboto",sans-serif;
}
*/

#app > .container {
  padding-top: 70px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .checkbox {
  font-weight: normal;
}
