body {
  padding-top: 70px;
  font: 15px "Roboto","Helvetica Neue",sans-serif;
  overflow-y: scroll;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .checkbox,
.form-group label {
  font-weight: normal;
}
.form-signin-heading {
  font-family: "Yanone Kaffeesatz";
  color: #4caf50; /* Fruit Salad */
  text-transform: uppercase;
}

nav .navbar-brand {
  font-family: "Yanone Kaffeesatz";
  font-size: 21px;
  text-transform: uppercase;
}
nav.navbar a {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
nav.navbar a:hover {
  color: #4caf50 !important; /* Fruit Salad */
}
.nav > li > a:hover {
  border-top-color: #f77825; /* orange */
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  border-top-color: #f77825; /* orange */
  border-bottom-color: transparent;
}



.form-horizontal { max-width: 600px; }
.form-horizontal select { width: 99%; }

.pull-left { margin-left: 7px; }
.modal-body { word-wrap: break-word; }



.transition-fade-enter {
  opacity: 0.01;
}
.transition-fade-enter.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-fade-leave {
  opacity: 1;
}
.transition-fade-leave.transition-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



.pika-table abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}
.pika-single {
  font-family: inherit !important;
}
.pika-table .is-outside-current-month { opacity: 0.3; }
.pika-table .is-outside-current-month:hover { opacity: 1; }

form input[type=number] {
  -moz-appearance: textfield;
}


.le-loading { cursor: wait !important; }

.le-num-neg { color: #d44950; /* Mandy */ }

.le-pad-left { padding-left: 2em; }
.le-pad-right { padding-right: 2em; }

.le-recon-table { margin-bottom: 3px; /* default: 20px */ }
.le-recon-table td { vertical-align: middle !important; /* default: top */}

.le-balance-table .le-checkbox-off {
  color: transparent;
  cursor: pointer;
}
.le-balance-table tr:hover .le-checkbox-off {
  color: #c7c7c7; /* grey78 */
}
.le-balance-table .le-checkbox-on {
  color: #4caf50; /* Fruit Salad */
  cursor: default;
}



.viz-flow-sankey-node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.viz-flow-sankey-node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px; /* small */
}

.viz-flow-sankey-link {
  fill: none;
  stroke: #000;
  stroke-opacity: .12;
}

.viz-flow-sankey-link:hover {
  stroke-opacity: .36;
}
