auth:
  realm: LedgerDB

database:
  driverClass: org.postgresql.Driver
  url: jdbc:postgresql:ledgerdb
  user: ledgerdb_user
  password: ************
  maxWaitForConnection: 5s
  initialSize: 0
  minSize: 0
  maxSize: 10

logging:
  level: INFO
  loggers:
    ledgerdb: DEBUG
    "org.hibernate": WARN
    "org.hibernate.SQL": DEBUG
    "org.hibernate.type.descriptor.sql.BasicBinder": DEBUG

server:
  type: simple
  rootPath: /api/
  applicationContextPath: /app
  adminContextPath: /admin
  connector:
    type: http
    port: 8080
  registerDefaultExceptionMappers: false
