/*
html, div, span, body, form, button, select, option {
  font: 15px "Roboto","Helvetica Neue",sans-serif;
}
*/

body {
  padding-top: 70px;
  font: 15px "Roboto","Helvetica Neue",sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .checkbox,
.form-group label {
  font-weight: normal;
}
.form-signin-heading,
.navbar-brand:hover > i {
  color: #4caf50;
}



.transition-fade-enter {
  opacity: 0.01;
}
.transition-fade-enter.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.transition-fade-leave {
  opacity: 1;
}
.transition-fade-leave.transition-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
